<!DOCTYPE html>
<html>
  <form id="customer_form" action="#">s
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <div class="container">
  <div class="row header">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <h1>True Solar &nbsp;</h1>
    <h3>Just fill out a few details</h3>
  </div>
  <div class="row body">
    <form action="#">
      <ul>
        <li>
          <p class="left">
            <label for="first_name">First Name</label>
            <input type="text" name="first_name" placeholder="John" />
          </p>
          <p class="pull-right">
            <label for="last_name">Last Name</label>
            <input type="text" name="last_name" placeholder="Smith" />      
          </p>
          <p class="left">
            <label for="email">Email <span class="req">*</span></label>
            <input type="email" name="email" placeholder="john.smith@gmail.com" />
          </p>
          <p class="left">
            <label for="street_address">Street Address <span class="req">*</span></label>
            <input type="text" name="street_address" placeholder="Street Address..." />
          </p>
          <p class="left">
            <label for="city">City <span class="req">*</span></label>
            <input type="text" name="city" placeholder="City..." />
          </p>
          <p class="left">
            <label for="state">State <span class="req">*</span></label>
            <select name="state">
              <option value="">Select a state...</option>
              <option value="AZ">Arizona</option>
              <option value="AR">Arkansas</option>
              <option value="CA">California</option>
              <option value="CO">Colorado</option>
              <option value="ID">Idaho</option>
              <option value="TX">Texas</option>
              <option value="UT">Utah</option>
            </select>
          </p>
        </li>
        
        <!-- <script>
          document.getElementById("myForm").addEventListener("submit", function() {
            window.location.href = "solar_form.html";
          });
        </script> -->
        <li>
          <input class="btn btn-submit" onclick="window.location.href = 'solar_form.html';" type="submit" value="Submit" />
          <small>or press <strong>enter</strong></small>
        </li>
      </ul>
    </form>
      <div class="row header">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <h1>Customize your Panel Locations &nbsp;</h1>
      </div>
      
      <div class="row">
        <div class="col">
          <img src="{{ url_for('static', filename='images/single_panel.png') }}" alt="Single Panel" class="panel-img">
        </div>
        <div class="col">
          <img src="{{ url_for('static', filename='images/images_without_panels/86 S 2250 E, St. George, UT 84790.png') }}" alt="Rooftop" class="rooftop-img">
        </div>
      </div>
      
</html>